
*.v2
*.suo
*.vsidx
bin
obj
/CodeFirstApi/obj/*
/CodeFirstApi/bin/*
/CodeFirstApi/.vs
*.v2
*.vsidx
*.bin
/CodeFirstApi/obj
/CodeFirstApi/.vs/CodeFirstApi/v17
/CodeFirstApi/.vs/CodeFirstApi/v17/*
/CodeFirstApi/bin
CodeFirstApi/obj/Debug/net8.0/CodeFirstApi.AssemblyInfo.cs
CodeFirstApi/obj/Debug/net8.0/CodeFirstApi.AssemblyInfoInputs.cache
